 <li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="{{meetup_item.image.url}}" alt="{{title}}">
            </div>
            <div class="meetup-details">
                <h3>{{meetup_item.title}}</h3>
                <address>{{meetup_item.location}}</address>
            </div>
        </div>
        <div class="meetup-action">
            <a href="{% url 'meetup-details' meetup_item.slug %}" class="btn">More details</a>
        </div>
    </article>
</li>